$primary-color: #02147Cff;
$secondary-color: #ccc4c4ff;
$primary-color-transparent1: rgba($primary-color, .6);
$primary-color-transparent2: rgba($primary-color, .2);
$secondary-color-transparent1: rgba($secondary-color, .65);
$secondary-color-transparent2: rgba($secondary-color, 1);
$secondary-color-transparent3: rgba($secondary-color, .8);
$image-border-color: $primary-color-transparent1;
$font-primary-color: $secondary-color;
$font-alt-color-1: #3f3f3f;
$font-secondary-color: $primary-color;
$bubble-color: #fafafa;
$incomplete-div: #ffff00;
$clip-1: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
$clip-2: polygon(100% 0, 100% 85%, 0 100%, 0 0);
$clip-3: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
$clip-4: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
$clip-5: polygon(0 8%, 100% 3%, 100% 89%, 0 93%);
$image-1: "https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80";
$image-2: "https://images.unsplash.com/photo-1561233835-f937539b95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80";
$image-3: "https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80";
$image-4: "https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80";
@mixin primary($url, $clip){
  background-image: linear-gradient(to right bottom, $primary-color-transparent1, $primary-color-transparent2),
  url($url);
  clip-path: $clip;
  background-size: 171%;
  background-position: center;

}


html{
  background-color: $secondary-color;
}
.subheader{

}
menu{
  margin-top: 0;
  background-color: $primary-color-transparent2;
}

body{
  background-color: $secondary-color;



}
.border-blend{
  border-color: $primary-color;
}


.incomplete{
  background-color: $incomplete-div;
}
.header-background-image{
  @include primary($image-1, $clip-2);
}
.primary-2{
  @include primary($image-2, $clip-5);

}
.primary-3{
  @include primary($image-3, $clip-4);

}
.primary-4{
  @include primary($image-4, $clip-4);
}
.secondary{

  background-color: $secondary-color;

}
header{
  a.float-center{
    background: $secondary-color;


  }
}
