@import url(foundation.css);
html {
  background-color: #ccc4c4ff; }

body {
  background-color: #ccc4c4ff; }

.border-blend {
  border-color: #02147Cff; }

.incomplete {
  background-color: #ffff00; }

.header-background-image {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  background-size: 171%;
  background-position: center; }

.primary-2 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1561233835-f937539b95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  clip-path: polygon(0 8%, 100% 3%, 100% 89%, 0 93%);
  background-size: 171%;
  background-position: center; }

.primary-3 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.primary-4 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.secondary {
  background-color: #ccc4c4ff; }

header a.float-center {
  background: #ccc4c4ff; }

html {
  background-color: #ccc4c4ff; }

body {
  background-color: #ccc4c4ff; }

.border-blend {
  border-color: #02147Cff; }

.incomplete {
  background-color: #ffff00; }

.header-background-image {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  background-size: 171%;
  background-position: center; }

.primary-2 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1561233835-f937539b95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  clip-path: polygon(0 8%, 100% 3%, 100% 89%, 0 93%);
  background-size: 171%;
  background-position: center; }

.primary-3 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.primary-4 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.secondary {
  background-color: #ccc4c4ff; }

header a.float-center {
  background: #ccc4c4ff; }

html {
  font-size: 100%; }

body {
  color: #ccc4c4ff; }

p {
  font-family: Avenir, Verdana, sans-serif;
  font-weight: normal; }

.subheader {
  font-family: "Moon", Avenir, sans-serif;
  font-weight: bold;
  font-size: 100%;
  color: #3f3f3f; }

.title {
  font-family: Avenir, Verdana, sans-serif;
  font-weight: lighter; }

.bubble {
  font-size: 80%; }

header a.float-center {
  text-transform: uppercase;
  font-size: 120%;
  color: #02147Cff; }

section h2 {
  font-size: 140%;
  text-align: center;
  font-weight: bolder; }

.secondary {
  color: #02147Cff; }

html {
  background-color: #ccc4c4ff; }

body {
  background-color: #ccc4c4ff; }

.border-blend {
  border-color: #02147Cff; }

.incomplete {
  background-color: #ffff00; }

.header-background-image {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
  clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0);
  background-size: 171%;
  background-position: center; }

.primary-2 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1561233835-f937539b95b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
  clip-path: polygon(0 8%, 100% 3%, 100% 89%, 0 93%);
  background-size: 171%;
  background-position: center; }

.primary-3 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1543286386-713bdd548da4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.primary-4 {
  background-image: linear-gradient(to right bottom, rgba(2, 20, 124, 0.6), rgba(2, 20, 124, 0.2)), url("https://images.unsplash.com/photo-1611162618071-b39a2ec055fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background-size: 171%;
  background-position: center; }

.secondary {
  background-color: #ccc4c4ff; }

header a.float-center {
  background: #ccc4c4ff; }

html {
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  display: block;
  scroll-behavior: smooth; }

p {
  padding: 1rem;
  margin: 0.5rem;
  text-align: center; }

header {
  height: 90vh; }

body {
  position: relative;
  margin: 0 auto;
  min-width: 100vw;
  max-width: 100%; }

.content {
  max-width: 90%;
  padding: 1rem; }

.circle-image-small {
  height: 30vw;
  width: 30vw;
  border-radius: 15vw; }

.circle-image-large {
  height: 50vw;
  width: 50vw;
  border-radius: 25vw;
  border-style: solid;
  border-width: 1rem; }

.logo-image-small {
  height: 6em;
  width: 6em;
  border-radius: 0.5em;
  z-index: 1;
  padding: 1em;
  background-color: transparent; }

.logo-image-medium {
  height: 4em;
  width: 4em;
  border-radius: 0.5em;
  z-index: 1; }

.logo-image-large {
  height: 50%;
  width: 50%;
  border-radius: 0.5em;
  z-index: 1; }

img {
  max-width: 100%; }

.bubble {
  text-decoration: underline;
  text-underline-style: dash;
  text-underline: #02147Cff;
  margin: 1rem auto;
  border-radius: 25%; }

.section-small {
  height: 20em;
  width: 100%;
  margin-top: 4em; }

.section-medium {
  height: 35em;
  width: 100%;
  margin-top: 7em; }

.section-large {
  height: 40em;
  width: 100%;
  margin-top: 8em; }

.section-xlarge {
  height: 100em;
  width: 100%;
  margin-top: 20em; }

.section-xxlarge {
  height: 120em;
  width: 100%;
  margin-top: 24em; }

.section-top {
  margin: 0; }

.background-image {
  height: 100%; }

.header-background-image {
  background-size: cover;
  position: relative;
  background-position: top; }

.primary-3 {
  z-index: -1; }
  .primary-3 h2 {
    padding: 3.5em;
    color: #ccc4c4ff; }

.secondary {
  margin-top: -5em;
  z-index: -1; }
  .secondary h2 {
    margin-top: 3.5em; }

.header-main {
  text-align: center;
  margin-top: 50%; }
  .header-main #ONLINE {
    font-size: xxx-large; }
  .header-main #WhereItHappens {
    font-size: large; }

a.button {
  max-width: 50%;
  z-index: -1; }

header a.float-center {
  margin: 3em auto;
  border-radius: 1.5rem; }

.photo-group {
  text-align: center; }
  .photo-group img {
    max-width: 25vw;
    height: 15vw;
    width: 25vw;
    border: solid rgba(2, 20, 124, 0.6) 0.1em;
    transition: z-index, border, height, max-width, width, 1s; }
  .photo-group img:hover {
    transition: z-index, border, height, max-width, width, 1s;
    width: 120%;
    height: 120%;
    max-width: 35vw;
    border: solid rgba(2, 20, 124, 0.6) 0.3em;
    position: relative; }

.card-section {
  padding-top: 3.5em;
  vertical-align: center;
  height: 90%; }
  .card-section .card {
    background-color: rgba(204, 196, 196, 0.65);
    height: 18%;
    transition: height, background-color, color, .5s;
    vertical-align: center;
    flex-direction: row;
    color: transparent; }
    .card-section .card .card-image {
      text-align: left;
      width: 18%;
      margin: 0.5rem 0 0.5rem 0.5rem; }
    .card-section .card span {
      width: 50%;
      text-align: center;
      vertical-align: center;
      margin: 10% auto; }
  .card-section .testimonial {
    background-color: rgba(204, 196, 196, 0.8);
    height: 20%;
    transition: height, background-color, color, .5s;
    vertical-align: center;
    flex-direction: row;
    color: transparent;
    margin-top: 5%;
    display: flex; }
    .card-section .testimonial .card-image {
      text-align: left;
      height: 60%;
      width: auto;
      vertical-align: center;
      margin: 0.5rem 0 0.5rem 0.5rem; }
  .card-section .button {
    margin: 4% auto; }
  .card-section .testimonial:hover {
    height: 40%;
    background-color: #ccc4c4ff;
    transition: height, background-color, color, .5s;
    color: #02147Cff;
    font-size: small; }
  .card-section .card:hover {
    height: 21%;
    background-color: #ccc4c4ff;
    transition: height, background-color, color, .5s;
    color: #02147Cff; }

#testimonials {
  text-align: center; }

.plan-card {
  width: 80%;
  margin: 10% auto;
  text-align: center;
  background: rgba(2, 20, 124, 0.2);
  border: #02147Cff outset 0.2em;
  height: 75vh; }
  .plan-card .bottom-border {
    border-bottom: 0.1em solid #ccc4c4ff; }
  .plan-card .plan-card-top {
    height: 20%;
    width: 100%;
    background-color: #02147Cff;
    color: #ccc4c4ff;
    clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 0); }
    .plan-card .plan-card-top .title {
      vertical-align: center;
      font-size: x-large;
      padding: 10%; }
  .plan-card .plan-card-mid {
    height: 55%;
    width: 100%;
    font-size: large; }
    .plan-card .plan-card-mid .description {
      font-size: small; }
    .plan-card .plan-card-mid .price {
      margin-bottom: 0;
      position: relative;
      bottom: 0;
      vertical-align: center; }
  .plan-card .plan-card-bottom {
    height: 25%;
    background-color: #02147Cff;
    width: 100%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%); }
    .plan-card .plan-card-bottom .button {
      vertical-align: bottom;
      position: relative;
      margin-bottom: -20%;
      border-radius: 15rem;
      width: 50%;
      background-color: #ccc4c4ff;
      color: #02147Cff; }

.inquire-form {
  padding-top: 30%;
  align-content: center; }
  .inquire-form .label {
    display: block;
    width: 90vw;
    margin: 0 auto; }
  .inquire-form .button {
    background-color: #02147Cff; }

.about {
  display: flex;
  padding: 15%; }

@media only screen and (min-width: 40.063em) {
  p {
    text-align: revert; } }
@media print {
  .circle-image-large {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
